.spotlight-form {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    min-height: 300px;
    min-width: 300px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    --x: 50%;
    --y: 50%;
}

.spotlight-form::before {
    background: radial-gradient(
        600px circle at var(--x) var(--y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    content: "";
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.spotlight-form:hover::before { /* Revela somente o brilho quando o mouse está sobre */
    opacity: 1;
}
